.container-div{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
input{
    padding: 1rem;
    border: 1px rgb(200,200,200) solid;
    outline: none;
    border-radius: 8px;
}
button{
    padding: 1rem;
    cursor: pointer;
}
h1{
    text-align: center;
}
.todo-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
}
.content-div{
    background-color: lightblue;
    padding: 1rem;
    border-radius: 8px;
}
.delete-btn{
    background-color: crimson;
    color: white;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(200,200,200);
    margin-left: 1rem;
}
section{
    min-height: 100vh;
    display: grid;
}